.Auth
    background-color: #fff
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    justify-content: center
    height: 100vh

    &__Login
        display: flex
        flex-direction: column
        align-content: center
        align-items: center
        justify-content: center
        background-color: #fafafa
        width: 500px
        padding: 20px 50px
        border: 1px solid #dbdbdb
        margin-top: 50px
        border-radius: 5px
        gap: 10px

    &__Input
        width: 200px
        height: 30px
        padding: 5px
        border: 1px solid #dbdbdb
        border-radius: 5px
span
    font-weight: bold
    margin-left: 5px
    &:hover
        cursor: pointer
